@import 'variables';
.body{
    display: flex;
    flex-direction: row;
    height: calc(100vh - 64px);
    width: 100%;
    .sep{
        width: 1px;
        background-color: $blueLighter;
    }
    .side-content{
        width: 20%;
    }
    .main-cintent{
        width: 80%;
    }
}
