<header class="header">
    <div class="l-content">

        <div class="logo">
            <div class="logo-1 gray">
                Campus
            </div>
            <div class="logo-2 gray">
                Link
            </div>
        </div>

        <!-- <mat-form-field class="carrer-field" appearance="fill">
            <mat-label>Carrera</mat-label>
            <mat-select [(ngModel)]="selectedCarrer" name="food">
              <mat-option *ngFor="let carrera of carreras" [value]="carrera.nombre">
                {{carrera.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field> -->

    </div>
    <div class="c-content">
        <!-- <mat-form-field class="search-field gray">
            <mat-label>Buscar...</mat-label>
            <input class="blackStrong" matInput type="text" [(ngModel)]="value">
            <button class="gray" matSuffix mat-icon-button aria-label="Clear" (click)="search()">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field> -->
    </div>
    <div class="r-content">
      <mat-form-field class="search-field gray">
        <mat-label>Buscar...</mat-label>
        <input class="blackStrong" matInput type="text" [(ngModel)]="value">
        <button class="gray" matSuffix mat-icon-button aria-label="Clear" (click)="search()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
        <!-- <div class="notifications">
        <mat-icon class="not-icon" matBadge="15" matBadgeColor="warn">notifications</mat-icon>
        </div> -->
        <img class="img-user" [src]=" userPhoto ? userPhoto : 'assets/icons/no-user-image.png'" alt="">
        <div class="salir" (click)="logOut()">

          <mat-icon class="salir-icon">logout</mat-icon>
        </div>
    </div>
</header>