<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" 
      [ngStyle]="{'background-image': 'url(' + (publication.photo_user ? publication.photo_user : 'assets/icons/no-user-image.png') + ')'}"></div>
      <mat-card-title>{{publication.username}}</mat-card-title>
      <mat-card-subtitle>{{publication.created}}</mat-card-subtitle>
      <div class="title">
        <span class="info-title" (click)="goToPublication()">
          {{publication.title.length > 50 ? publication.title.substring(0, 50) + '...' : publication.title}}
        </span>
      </div>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content class="main-content">
      <p class="content">
        {{
          content.length > 200
            ? content.substring(0, 200) + '...'
            : content
        }}
      </p>
    </mat-card-content>

  </mat-card>

