<div class="welcome">
    ¡Preguntas populares!
</div>

<div class="publications">

    <div class="publication" *ngFor="let publication of publications">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image" style="background-image: url('{{publication.image}}')">
              </div>
              <mat-card-title>{{publication.userName}}</mat-card-title>
              <mat-card-subtitle>{{publication.principalcarrer}}</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
          <div class="sep-inf">
          </div>
    </div>

</div>