<div class="body-lat">
    <div class="home" [class]="selectedId == undefined ? 'selected' : ''" (click)="goToInitial()">
        Home
    </div>
    <div class="sep"></div>
    <!-- <span class="carrera">
        Carreras
    </span> -->
    <div class="second-title">
        <span>
            Carreras
        </span>
    </div>
    <div class="create-publication" (click)="goToCreatePublication()">
        <mat-icon class="add-icon" [class]="selectedId == -1 ? 'selected' : ''">add</mat-icon>
        <span [class]="selectedId == -1 ? 'selected' : ''">
            Crear publicación
        </span>
    </div>
    <div class="carreras" *ngFor="let carrera of carreras; let i = index">
        
        <span class="item" [class]="carrera.id == selectedId ? 'selected' : ''" (click)="select(carrera.id)">
            {{carrera.name}}
        </span>
    </div>
</div>