<div class="body-lat">
    <div class="home" (click)="goToInitial()">
        Home
    </div>
    <div class="sep"></div>
    <!-- <span class="carrera">
        Carreras
    </span> -->
    <div class="second-title">
        <span>
            Carreras
        </span>
    </div>
    <div class="carreras" *ngFor="let carrera of carreras">
        <span [class]="carrera.id == selectedId ? 'selected' : ''" (click)="select(carrera.id)">
            {{carrera.name}}
        </span>
    </div>
</div>