<div class="container">

    <div class="prguntas-respuesas">

        <mat-card class="card-preg-title">
            <mat-card-title class="preg-title">
                <span>Pregunta</span>
            </mat-card-title>
        </mat-card>

        <mat-card class="pregunta">

            <div class="date">
                <span>
                    {{details?.updated ? details?.updated : details?.created}}
                </span>
            </div>
    
            <div class="sup">
                <div class="user">
                    <div class="img">
                        <img [src]="details?.photo_user ? details?.photo_user : 'assets/icons/no-user-image.png'" alt="">
                    </div>
                    <div class="name">
                        <span>
                            {{details?.username}}
                        </span>
                    </div>
                </div>
            </div>
            <div class="principal-content">
                <div class="title">
                    <span>
                        {{details?.title}}
                    </span>
                </div>
                <div class="rates">
                    <a 
                    (click)="sendGoodScore(details?.id)"
                    class="like" [class]="details?.like ? 'blue' : ''">
                        <mat-icon>
                            expand_less
                        </mat-icon>
                    </a>
                    <a 
                    (click)="sendBadScore(details?.id)"
                    class="dislike" [class]="details?.like == false ? 'red' : ''">
                        <mat-icon>
                        
                        expand_more
                    </mat-icon>
                </a>
                </div>
            </div>
    
            <div class="description">
                <span>
                    {{details?.description}}
                </span>
                <div class="score">
                    <span class="cursor" (click)="loadComents(details?.commentsList,details?.id)">
                        comentarios...
                    </span>
                    <span [class]="(score < 0) ? 'red' : 'blue'">
                        {{details?.score}}
                    </span>
                </div>
            </div>
    
        </mat-card>
    
        <div class="respuesta-container">
            <mat-form-field class="hacer-respuesta">
                <mat-label>Agrega una respuesta...</mat-label><textarea [(ngModel)]="respuesta" maxlength="400" cols="7" rows="3" matInput placeholder="Responer..."></textarea>
            </mat-form-field>
            <mat-icon 
            class="send"
            (click)="sendResponse()"
            >send</mat-icon>
        </div>
        <mat-card class="card-resp-title">
            <mat-card-title class="resp-title">
                <span>Respuestas</span>
            </mat-card-title>
        </mat-card>
        <mat-card *ngIf="responseList.length == 0" class="card-resp-title">
            <mat-card-title class="resp-title">
                <span>No hay respuestas...</span>
            </mat-card-title>
        </mat-card>

        <ng-container *ngFor="let respuesta of responseList">

            <mat-card class="respuesta">
                <div class="date">
                    <span>
                        {{respuesta?.updated ? respuesta?.updated : respuesta?.created}}
                    </span>
                </div>
                <div class="sup">
                    <div class="user">
                        <div class="img">
                            <img [src]=" respuesta.photo_user ? respuesta.photo_user : 'assets/icons/no-user-image.png' " alt="">
                        </div>
                        <div class="name">
                            <span>
                                {{respuesta?.username}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="principal-content">
                    <div class="title-comment">
                        <span>
                            {{respuesta?.description}}
                        </span>
                    </div>
                    <div class="rates">
                        <a 
                        class="like"
                        (click)="sendGoodScore(respuesta.id)"
                        [class]="respuesta?.like ? 'blue' : ''"
                        >
                            <mat-icon>
                                expand_less
                            </mat-icon>
                        </a>
                        <a 
                        (click)="sendBadScore(respuesta.id)"
                        class="dislike"
                        [class]="respuesta?.like == false ? 'red' : ''"
                        >
                            <mat-icon>
                            
                            expand_more
                        </mat-icon>
                    </a>
                    </div>
                </div>
                <div class="coments">
                    <span class="cursor" (click)="loadComents(respuesta.commentsList,respuesta.id)">
                        comentarios...
                    </span>
                    <span class="resp-comments">
                        {{respuesta?.score}}
                    </span>
                </div>
                
            </mat-card>

        </ng-container>
        
    </div>

    <div class="comentarios">

        <mat-card class="card-coment-title">
            <mat-card-title class="coment-title">
                <span>Comentarios</span>
            </mat-card-title>
        </mat-card>

        <div class="comentario-container">
            <mat-form-field class="hacer-comentario">
                <mat-label>Agrega un comentario...</mat-label><textarea [(ngModel)]="comentario" maxlength="400" cols="7" rows="3" matInput placeholder="Comentario..."></textarea>
            </mat-form-field>
            <mat-icon 
            class="send-two"
            (click)="sendComment()"
            >send</mat-icon>
        </div>

        <mat-card *ngIf="showComents == null" class="card-coment-title">
            <mat-card-title class="coment-title">
                <span>No hay comentarios</span>
            </mat-card-title>
        </mat-card>


        <ng-container *ngFor="let coment of showComents">

            <mat-card class="comentario">
                <div class="date">
                    <span>
                        {{coment.updated ? coment.updated : coment.created}}
                    </span>
                </div>
                <div class="sup">
                    <div class="user">
                        <div class="img">
                            <img [src]=" coment.photo_user ? coment.photo_user :'assets/icons/no-user-image.png'" alt="">
                        </div>
                        <div class="name">
                            <span>
                                {{coment.username}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="principal-content">
                    <div class="title-comment">
                        <span>
                            {{coment.description}}
                        </span>
                    </div>
                </div>
            </mat-card>

        </ng-container>
    </div>

</div>