@import 'variables';

.form-content{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .title{
        margin-top: 40px;
        font-size: 26px;
        margin-bottom: 20px;
        color: $gray;
    }
}

.carrer-form{
    width: 400px;
    margin: 20px;
}

.form-title{
    width: 400px;
    margin: 20px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.example-full-width {
    width: 400px;
    height: 200px;
    margin: 20px;
}

.descripcion{
    margin: 20px;
}